<!-- wp:template-part {"slug":"header","theme":"blockskit-coaching-center","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px"},"padding":{"top":"0px","bottom":"0px"}}},"layout":{"inherit":false}} -->
<main class="wp-block-group" style="margin-top:0px;padding-top:0px;padding-bottom:0px">
<!-- wp:pattern {"slug":"blockskit-coaching-center/template-page-no-title"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"blockskit-coaching-center","tagName":"footer"} /-->
